build
node_modules
.idea/*
coverage.json
coverage/
yarn-error.log
crytic-export
mcore_*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
artifacts/
cache/
typechain-types/
.DS_Store
dist/

/old/

.openzeppelin/
build_testnet
build_prodnet
build_devnet
build_devnet_1
build_devnet_2
build_devnet_3
